body {
  background-color: grey;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: 'images/pink-pattern.png';
  color: fuchsia;
  font-family: Verdana;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  display: inline-block;
  transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0);
}

.rotateright {
  display: inline-block;
  transform: matrix(0.996195, 0.0871557, -0.0871557, 0.996195, 0, 0);
}

.skewleft {
  display: inline-block;
  transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.skewright {
  display: inline-block;
  transform: skewX(-10deg);
}

#carta-texto {
  text-align: center;
  width: 600px;


}

#criar-carta {
  border: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 7px 20px;
}

#user {
  margin-top: 100px;
  text-align: center;
}
